altgraph==0.17.3
anyio==3.6.2
appdirs==1.4.4
async-generator==1.10
attrs==22.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
crypto==1.4.1
cssselect==1.2.0
curlify==2.2.1
decorator==4.4.2
exceptiongroup==1.1.0
fake-headers==1.0.2
fake-useragent==1.1.1
fastapi==0.90.0
future==0.18.3
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
idna==3.4
imageio==2.25.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.0.0
jedi==0.18.2
lxml==4.9.2
MouseInfo==0.1.3
moviepy==1.0.3
Naked==0.1.32
names==0.3.0
numpy==1.24.1
opencv-python==4.7.0.68
outcome==1.2.0
packaging==23.0
parse==1.19.0
parso==0.8.3
pefile==2022.5.30
Pillow==9.4.0
playwright==1.30.0
proglog==0.1.10
proxy-randomizer==1.3.5
pudb==2022.1.3
pyarmor==7.7.4
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.4
pydub==0.25.1
pyee==9.0.4
PyExecJS==1.5.1
PyGetWindow==0.0.9
Pygments==2.14.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
pyppeteer==1.0.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5Designer==5.14.1
pyquery==2.0.0
PyRect==0.2.0
PyScreeze==0.1.28
PySide2==5.15.2.1
PySocks==1.7.1
python-dotenv==0.13.0
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.7.1
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0
randmac==0.1
random-user-agent==1.0.1
requests==2.28.2
requests-html==0.10.0
rfc3986==1.5.0
selenium==4.8.0
selenium-stealth==1.0.6
shellescape==3.8.1
shiboken2==5.15.2.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SpeechRecognition==3.9.0
starlette==0.23.0
tls-client==0.1.8
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.4.0
undetected-chromedriver==3.2.1
urllib3==1.26.14
urwid==2.1.2
urwid-readline==0.13
uvicorn==0.20.0
w3lib==2.1.1
webencodings==0.5.1
websockets==10.4
WMI==1.5.1
wsproto==1.2.0
zipp==3.12.0
